<!DOCTYPE html>
<html>
  <head>
    <h1>480Chan - Image Board!</h1>
  </head>
  <body>
  <style>
  body{
    text-align:center;
    background-color: linen;
    color: maroon;
  }
  </style>
    {{{body}}}
  </body>
</html>
