<form method = "POST" action= "">
  Image Post Title: <input type='text' name='title'> <br> <br>
  Image 1 URL <input type='text' name='image1URL'>  Caption: <input type='text' name='image1Cap'> <br>
  Image 2 URL <input type='text' name='image2URL'>  Caption: <input type='text' name='image2Cap'> <br>
  Image 3 URL <input type='text' name='image3URL'>  Caption: <input type='text' name='image3Cap'> <br>
  <input type='submit' value='Add New Image Post!'>
</form>

{{#each list}}
<div>
  <h2><a href=image-posts/{{slug}}> {{title}} </a></h2>
    {{#each images}}
    <div>
    <p> {{caption}} </p>
    <img src={{url}}> <br><br>
    </div>
    {{/each}}
</div>
{{/each}}
